# Explore the Data

In [1]:
import pandas as pd
import matplotlib as mpl

In [3]:
filename = 'turnstile_200328.txt'
turnstile = pd.read_csv(filename)

In [5]:
turnstile

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,00:00:00,REGULAR,7411940,2515962
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,04:00:00,REGULAR,7411942,2515966
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,08:00:00,REGULAR,7411945,2515979
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,12:00:00,REGULAR,7411969,2516000
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,16:00:00,REGULAR,7412028,2516024
...,...,...,...,...,...,...,...,...,...,...,...
205757,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/27/2020,05:00:00,REGULAR,5554,514
205758,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/27/2020,09:00:00,REGULAR,5554,514
205759,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/27/2020,13:00:00,REGULAR,5554,514
205760,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/27/2020,17:00:00,REGULAR,5554,514
205761,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,03/27/2020,21:00:00,REGULAR,5554,514

In [4]:
stations = turnstile.groupby(['STATION','DATE','TIME'])

In [5]:
stations.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,00:00:00,REGULAR,7411940,2515962
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,04:00:00,REGULAR,7411942,2515966
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,08:00:00,REGULAR,7411945,2515979
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,12:00:00,REGULAR,7411969,2516000
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,16:00:00,REGULAR,7412028,2516024
...,...,...,...,...,...,...,...,...,...,...,...
205715,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,03/27/2020,05:00:00,REGULAR,3085,62
205716,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,03/27/2020,09:00:00,REGULAR,3085,62
205717,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,03/27/2020,13:00:00,REGULAR,3086,62
205718,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,03/27/2020,17:00:00,REGULAR,3086,62
205719,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,03/27/2020,21:00:00,REGULAR,3086,62

In [11]:
stat_59st = turnstile[turnstile.STATION == '59 ST']

In [9]:
stat_59st

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,00:00:00,REGULAR,7411940,2515962
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,04:00:00,REGULAR,7411942,2515966
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,08:00:00,REGULAR,7411945,2515979
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,12:00:00,REGULAR,7411969,2516000
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/21/2020,16:00:00,REGULAR,7412028,2516024
...,...,...,...,...,...,...,...,...,...,...,...
163112,R245A,R051,01-06-01,59 ST,456NQRW,IRT,03/27/2020,04:00:00,REGULAR,117502043,759466
163113,R245A,R051,01-06-01,59 ST,456NQRW,IRT,03/27/2020,08:00:00,REGULAR,117502044,759469
163114,R245A,R051,01-06-01,59 ST,456NQRW,IRT,03/27/2020,12:00:00,REGULAR,117502045,759478
163115,R245A,R051,01-06-01,59 ST,456NQRW,IRT,03/27/2020,16:00:00,REGULAR,117502050,759491
163116,R245A,R051,01-06-01,59 ST,456NQRW,IRT,03/27/2020,20:00:00,REGULAR,117502058,759497

In [14]:
for unit in stat_59st['UNIT'].unique():
    print(unit)

R051
R212
R050